
@{
    ViewBag.Title = "Cẩm nang sử dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center; color: green; font-weight: bold">CẨM NANG SỬ DỤNG</h2>
<div class="col-sm-12">
    <hr />
    <div class="entry-header has-post-format">
        <h4>
            <a style="color:forestgreen; font-weight: bold" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">GIỮA TÂM BÃO AN TOÀN VỆ SINH THỰC PHẨM: THỊT BÒ MỸ MUA Ở ĐÂU LÀ ĐẢM BẢO ?</a>
            <a class="label label-default"> 4 Tháng trước</a>
        </h4>
    </div>
    <img src="~/IMG/Thanh_menu/bo-my.jpg" alt="Alternate Text" />
    <div style="margin-top: 5px">
        <p class="readmore">
            <a class="btn btn-success" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">Xem thêm ...</a>
        </p>
    </div>    
</div>
<div class="col-sm-12">
    <hr />
    <div class="entry-header has-post-format">
        <h4>
            <a style="color:forestgreen; font-weight: bold" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">GIẢM CÂN THẦN SẦU CHỈ VỚI THỊT BÒ MỸ NHẬP KHẨU</a>
            <a class="label label-default"> 4 Tháng trước</a>
        </h4>
    </div>
    <img src="~/IMG/Thanh_menu/tht-bo-gim-can.jpg" alt="Alternate Text" />
    <div style="margin-top: 5px">
        <p class="readmore">
            <a class="btn btn-success" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">Xem thêm ...</a>
        </p>
    </div>
</div>
<div class="col-sm-12">
    <hr />
    <div class="entry-header has-post-format">
        <h4>
            <a style="color:forestgreen; font-weight: bold" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">HƯỚNG DẪN MỘT SỐ CÁCH CHẾ BIẾN CÁ HỒI ĐÔNG LẠNH</a>
            <a class="label label-default"> 4 Tháng trước</a>
        </h4>
    </div>
    <img src="~/IMG/Thanh_menu/cach-ch-bin-ca-hi-1.jpg" alt="Alternate Text" />
    <div style="margin-top: 5px">
        <p class="readmore">
            <a class="btn btn-success" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">Xem thêm ...</a>
        </p>
    </div>
</div>
<div class="col-sm-12">
    <hr />
    <div class="entry-header has-post-format">
        <h4>
            <a style="color:forestgreen; font-weight: bold" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">NHỮNG SỰ THẬT ÍT AI BIẾT VỀ CÁ HỒI NGUYÊN CON</a>
            <a class="label label-default"> 4 Tháng trước</a>
        </h4>
    </div>
    <img src="~/IMG/Thanh_menu/Cá hồi nguyên con.png" alt="Alternate Text" />
    <div style="margin-top: 5px">
        <p class="readmore">
            <a class="btn btn-success" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">Xem thêm ...</a>
        </p>
    </div>
</div>
<style>
    .col-sm-12 .entry-header a:hover{
        text-decoration: none;
    }
</style>