
@{
    ViewBag.Title = "Chính sách vận chuyển";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Public/CSS/chinhsach.css" rel="stylesheet" />
}

<section style="text-align: center; padding-bottom: 20px; color: green;">
    <h1> <strong>Chính sách vận chuyển</strong></h1>
</section>
<section class="container text-dark" style="font-size: 16px;">
    
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-12">
                <p>
                    <i style="color:darkgreen;">Để thuận tiện cho việc vận chuyển hàng hóa và thanh toán, Fresh Foods xin đưa ra bảng thông báo gửi đến Quý khách hàng!</i>
                </p>
                <p style="padding-top: 20px;">
                    <strong>CHÍNH SÁCH VẬN CHUYỂN:</strong>

                </p>
                <p><strong>( Áp dụng cho đơn đặt hàng online )</strong></p>
                <p>Địa điểm ship hàng: FRESHFOODS MART:  42 Trung Hòa.</p>
                <p>Phạm vi giao hàng: Toàn thành phố Hà Nội</p>
                <p><strong>1. Phí vận chuyển</strong></p>
                <p>Chính sách giao hàng với 300.000 VNĐ chúng tôi sẽ hỗ trợ giao hàng trên toàn bộ quận nội thành Hà Nội</p>
                <div>
                    <table border="1" style="width: 1000px; height: 500px; text-align: center;">
                        <tr>
                            <th style="width: 80px; text-align: center;">STT</th>
                            <th style="width: 150px; text-align: center;">CHÍNH SÁCH GIAO HÀNG</th>
                            <th style="text-align: center;">GIÁ TRỊ ĐƠN HÀNG</th>
                            <th style="text-align: center;">BÁN KÍNH Km2</th>
                            <th style="text-align: center;">CHI PHÍ VẬN CHUYỂN</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td rowspan="4">Chúng tôi hỗ trợ dịch vụ giao hàng tận nơi với đơn hàng trên 300.000 trên toàn bộ các Quận nội thành Hà Nội</td>
                            <td> 500.000 TRỞ LÊN</td>
                            <td>DƯỚI 5 Km<sup>2</sup></td>
                            <td>MIỄN PHÍ</td>
                        </tr>
                        <tr>
                            <td>2</td>  
                            <td> 500.000 TRỞ LÊN</td>
                            <td>DƯỚI 10 Km<sup>2</sup></td>
                            <td>MIỄN PHÍ</td>
                        </tr>
                        <tr>
                            <td>3</td>                          
                            <td>DƯỚI 500.000</td>
                            <td>DƯỚI 5 Km<sup>2</sup></td>
                            <td>20.000</td>
                        </tr>
                        <tr>
                            <td>4</td>                  
                            <td>DƯỚI 500.000 TRỞ LÊN</td>
                            <td>DƯỚI 10 Km<sup>2</sup> <br />TỪ 10 Km<sup>2</sup> - 15 Km<sup>2</sup></td>
                            <td>30.000<br /><br />35.000</td>
                        </tr>
                    </table>
                </div>
                <p><strong><br />2. Thời gian đặt hàng</strong></p>
                <p>-  Đặt hàng trước 9h30 phút giao trước 11h30 hoặc sớm hơn</p>
                <p>-  Đơn đặt 10h30 giao trước 12h hoặc sớm hơn</p>
                <p>
                    -  Đơn đặt trước 14h30 chiều giao trước 16h30 sớm hơn        
                </p>
                <p>-  Đơn đặt 16h30 chiều giao trước 18h hoặc sớm hơn</p>
                <p>-  Đơn nhận đặt hàng cuối cùng của ngày 17h sẽ giao trước 19h hoặc sớm hơn</p>
                <p> Những đơn hàng phát sinh sau 17h Fresh Foods Mart xin phép quý khách hàng giao hàng ngày hôm sau hoặc thông báo quý khách hàng đến trực tiếp cửa hàng nhận hàng</p>
                <p><strong><br />3. Yêu cầu khi nhận hàng</strong></p>
                <p>                 
                    Quý khách vui lòng thanh toán đầy đủ và kiểm tra hàng hóa trước khi nhận hàng. Đề nghị giữ lại hóa đơn mua hàng để sử dụng khi có yêu cầu về đổi trả sản phẩm               
                </p>
                <p>Mọi thắc mắc hoặc đóng góp ý kiến của Quý Khách Hàng vui lòng liên hệ:</p>
                <p>Hotline Đặt Hàng & Chăm Sóc Khách Hàng (Miễn phí): 1800 6866</p>
                <p>Email : <a id="a1" href="mailto:freshfood@gmail.com" style="color: green;">contact@freshfoodsmart.vn</a></p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</section>
