
@{
    ViewBag.Title = "Huongdanmuahang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center; color: green; font-weight: bold">HƯỚNG DẪN MUA HÀNG</h2>
<section style="margin-top: 30px; font-size: 16px">
    <hr />
    <p>
        Sau khi lựa chọn được sản phẩm ưng ý, Quý khách có thể chọn các hình thức đặt hàng sau của Fresh Foods:
    </p>
    <p style="font-weight: bold; color:forestgreen">
        1. Đặt hàng qua Hotline: 1800 68 66 <br /><br />

        2. Đặt hàng qua Website: freshfoods.vn<br /><br />

        3. Đặt hàng qua Facebook: Fresh Foods - Thực Phẩm Sạch Thương Mại T&P<br /><br />

        4. Mua hàng trực tiếp tại chuỗi cửa hàng của Fresh Foods:<br /><br />
    </p>
    CÔNG TY TNHH THỰC PHẨM SẠCH THƯƠNG MẠI T&P<br /> <br />
    - Trụ sở chính: 25, phố Gia Quất, phường Thượng Thanh, Quận Long Biên - Hà Nội<br /> <br />
    Tel: 024.3871.6138          Fax: +84 (4) 3871.6139<br /> <br />
    - Chi nhánh Trung Hòa: Số 42 Trung Hòa, Quận Cầu Giấy - Hà Nội<br /> <br />
    Tel: 024.3226.2452       Fax: +84 (4) 3783.5937<br /> <br />
    - Chi nhánh Hồ Chí Minh: Số 55 Đường số 7, khu A, KĐT An Phú An Khánh, Phường An Phú , Quận 2, TP. HCM<br /> <br />
    Tel:  028.28628   101 54/55/56   Fax: +84 (8 ) 3547.4251<br /> <br />
    - Chi nhánh Bắc Ninh: Thôn Nội Viên, Xã Lạc Vệ, Huyện Tiên Du, Tỉnh Bắc Ninh<br /> <br />
    Tel: 022.2372.3288<br /> <br />
    - Chi nhánh Hải Phòng: 76 Khu G, khu nhà ở và biệt thự Anh Dũng, p. Anh Dũng, Q. Dương Kinh, TP. Hải Phòng<br /> <br />
    Tel: 022.5365.4956<br /> <br />
    - Chi nhánh Tam Trinh: 144 tổ 16 đường Tam Trinh, P. Yên Sở, Q. Hoàng Mai, TP. Hà Nội<br /> <br />
    - Chi nhánh Vạn Phúc: 47 đường Vạn Phúc, Q. Hà Đông, TP. Hà Nội<br /> <br />
    - Chi nhánh Đà Nẵng: Khu số 4 mở rộng, Khu đô thị mới Nam Cầu Tuyên Sơn, P. Khuê Mỹ, Q. Ngũ Hành Sơn, TP. Đà Nẵng<br /> <br />
    Tel: 0236.3615.818<br /> <br />
    - Chi nhánh Nha Trang: Lô STH 07-31, đường số 3, Khu đô thị Lê Hồng Phong I, P. Phước Hải, TP. Nha Trang<br /> <br />
    Tel: 0258.6294875<br /> <br /><br />
    <p style="font-weight: bold; color:forestgreen">
        Kính chúc quý khách luôn hài lòng khi mua hàng tại Fresh Foods!
    </p>
</section>
