
@{
    ViewBag.Title = "Huongdanthanhtoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center; color: green; font-weight: bold">HƯỚNG DẪN THANH TOÁN</h2>
<section style="margin-top: 30px; font-size: 16px">
    <hr />
    <p>
        Sau khi lựa chọn được sản phẩm ưng ý, quý khách có thể chọn thanh toán nhanh chóng qua ngân hàng, trực tiếp hoặc tại nhà.
    </p>
    <p>
    <p style="font-weight: bold; color:forestgreen"> 1. Thanh toán trực tiếp tại nhà:</p>
    Quý khách vui lòng thanh toán cho Fresh Foods bằng tiền mặt ngay sau khi nhận hàng.
    </p>
    <p>
    <p style="font-weight: bold; color:forestgreen">
        2. Thanh toán qua chuyển khoản ngân hàng: <br />
    </p>

    Quý khách có thể thanh toán qua hệ thống toàn khoản sau của Fresh Foods <br />
    - Tài khoản ngân hàng Vietinbank – Chi Nhánh Bắc Hà Nội <br />
    Trích tài khoản số: 102010001575011 <br />
    - Tài khoản ngân hàng Vietcombank - Chi Nhánh Trung Hòa <br />
    Trích tài khoản số: 0011.00414.9307 <br /> <br />

    Xin Quý khách lưu ý: Fresh Foods sẽ giao hàng cho Quý khách sau khi nhận được chuyển khoản của Quý khách hàng, trong trường hợp Quý khách hàng không thực hiện việc thanh toán đúng thỏa thuận Fresh Foods có quyền từ chối giao hàng.
    </p>
    <p>
    <p style="font-weight: bold; color:forestgreen">
        3. Mua hàng và thanh toán trực tiếp tại cửa hàng gần nhất: <br />
    </p>
    CÔNG TY TNHH THỰC PHẨM SẠCH THƯƠNG MẠI T&P<br /> <br />
    - Trụ sở chính: 25, phố Gia Quất, phường Thượng Thanh, Quận Long Biên - Hà Nội<br /> <br />
    Tel: 024.3871.6138          Fax: +84 (4) 3871.6139<br /> <br />
    - Chi nhánh Trung Hòa: Số 42 Trung Hòa, Quận Cầu Giấy - Hà Nội<br /> <br />
    Tel: 024.3226.2452       Fax: +84 (4) 3783.5937<br /> <br />
    - Chi nhánh Hồ Chí Minh: Số 55 Đường số 7, khu A, KĐT An Phú An Khánh, Phường An Phú , Quận 2, TP. HCM<br /> <br />
    Tel:  028.28628   101 54/55/56   Fax: +84 (8 ) 3547.4251<br /> <br />
    - Chi nhánh Bắc Ninh: Thôn Nội Viên, Xã Lạc Vệ, Huyện Tiên Du, Tỉnh Bắc Ninh<br /> <br />
    Tel: 022.2372.3288<br /> <br />
    - Chi nhánh Hải Phòng: 76 Khu G, khu nhà ở và biệt thự Anh Dũng, p. Anh Dũng, Q. Dương Kinh, TP. Hải Phòng<br /> <br />
    Tel: 022.5365.4956<br /> <br />
    - Chi nhánh Tam Trinh: 144 tổ 16 đường Tam Trinh, P. Yên Sở, Q. Hoàng Mai, TP. Hà Nội<br /> <br />
    - Chi nhánh Vạn Phúc: 47 đường Vạn Phúc, Q. Hà Đông, TP. Hà Nội<br /> <br />
    - Chi nhánh Đà Nẵng: Khu số 4 mở rộng, Khu đô thị mới Nam Cầu Tuyên Sơn, P. Khuê Mỹ, Q. Ngũ Hành Sơn, TP. Đà Nẵng<br /> <br />
    Tel: 0236.3615.818<br /> <br />
    - Chi nhánh Nha Trang: Lô STH 07-31, đường số 3, Khu đô thị Lê Hồng Phong I, P. Phước Hải, TP. Nha Trang<br /> <br />
    Tel: 0258.6294875<br /> <br /><br /> 
    <p style="font-weight: bold; color:forestgreen">
        Kính chúc quý khách luôn hài lòng khi mua hàng tại Fresh Foods!
    </p>  
</section>
