
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 style="text-align: center; color: green; font-weight: bold">LIÊN HỆ</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label><strong>Họ và Tên (<span class="text-danger">*</span>)</strong></label>
                <input name="fullname" placeholder="VD: Nguyễn Văn A" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label><strong>Email (<span class="text-danger">*</span>)</strong></label>
                <input name="fullname" placeholder="VD: customers@gmail.com" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label><strong>Điện thoại (<span class="text-danger">*</span>)</strong></label>
                <input name="fullname" placeholder="VD: 0123456789" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label><strong>Tiêu đề liên hệ (<span class="text-danger">*</span>)</strong></label>
                <input name="fullname" placeholder="VD: Hỏi giá sỉ" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label><strong>Nội dung (<span class="text-danger">*</span>)</strong></label>
                <textarea name="fullname" placeholder="Nội dung" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-success">GỬI</button>
            </div>
            <div class="form-group">
                (<span class="text-danger">*</span>) Bắt buộc phải nhập
            </div>
        </div>
        <div class="col-md-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1250520430503!2d106.71229765068253!3d10.80173316164123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVFAuSENN!5e0!3m2!1svi!2s!4v1624546660230!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>

