
@{
    ViewBag.Title = "Việc làm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center; color: green; font-weight: bold">CƠ HỘI VIỆC LÀM</h2>

<div class="col-sm-12">
    <hr />
        <div class="entry-header has-post-format">           
            <h4>
                <a style="color:forestgreen" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">HÀ NỘI - LONG BIÊN: TUYỂN DỤNG CHUYÊN VIÊN KINH DOANH</a>
                <a class="label label-default"> 4 Tháng trước</a>
            </h4>
        </div>
        <h5>HÀ NỘI - LONG BIÊN: TUYỂN DỤNG CHUYÊN VIÊN KINH DOANH</h5>        
        <p class="readmore">
            <a class="btn btn-success" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">Xem thêm ...</a>
        </p>      
</div>
<div class="col-sm-12">
    <hr />
    <div class="entry-header has-post-format">
        <h4>
            <a style="color:forestgreen" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">CHI NHÁNH HỒ CHÍ MINH - NHÂN VIÊN KINH DOANH</a>
            <a class="label label-default"> 4 Tháng trước</a>
        </h4>
    </div>
    <h5>CHI NHÁNH HỒ CHÍ MINH - NHÂN VIÊN KINH DOANH</h5>
    <p class="readmore">
        <a class="btn btn-success" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">Xem thêm ...</a>
    </p>
</div>
      <div class="col-sm-12">
          <hr />
          <div class="entry-header has-post-format">
              <h4 itemprop="name">
                  <a style="color:forestgreen" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">HÀ NỘI - LONG BIÊN: GIÁM ĐỐC KINH DOANH</a>
                  <a class="label label-default"> 4 Tháng trước</a>
              </h4>
          </div>
          <h5>HÀ NỘI - LONG BIÊN: GIÁM ĐỐC KINH DOANH</h5>
          <p class="readmore">
              <a class="btn btn-success" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">Xem thêm ...</a>
          </p>
      </div>
      <div class="col-sm-12">
          <hr />
          <div class="entry-header has-post-format">
              <h4 itemprop="name">
                  <a style="color:forestgreen" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">HÀ NỘI - LONG BIÊN: TRƯỞNG PHÒNG HÀNH CHÍNH NHÂN SỰ</a>
                  <a class="label label-default"> 4 Tháng trước</a>
              </h4>
          </div>
          <h5>HÀ NỘI - LONG BIÊN: TRƯỞNG PHÒNG HÀNH CHÍNH NHÂN SỰ</h5>
          <p class="readmore">
              <a class="btn btn-success" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">Xem thêm ...</a>
          </p>
      </div>
      <div class="col-sm-12">
          <hr />
          <div class="entry-header has-post-format">
              <h4 style="color:forestgreen" itemprop="name">
                  <a style="color:forestgreen" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">HÀ NỘI - LONG BIÊN: TUYỂN DỤNG CHUYÊN VIÊN KINH DOANH</a>
                  <a class="label label-default"> 4 Tháng trước</a>
              </h4>
          </div>
          <h5>HÀ NỘI - LONG BIÊN: TUYỂN DỤNG CHUYÊN VIÊN KINH DOANH</h5>
          <p class="readmore">
              <a class="btn btn-success" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">Xem thêm ...</a>
          </p>
      </div>
      <div class="col-sm-12">
          <hr />
          <div class="entry-header has-post-format">
              <h4 itemprop="name">
                  <a style="color:forestgreen" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">HÀ NỘI - LONG BIÊN: TUYỂN DỤNG CHUYÊN VIÊN KINH DOANH</a>
                  <a class="label label-default"> 4 Tháng trước</a>
              </h4>
          </div>
          <h5>HÀ NỘI - LONG BIÊN: TUYỂN DỤNG CHUYÊN VIÊN KINH DOANH</h5>
          <p class="readmore">
              <a class="btn btn-success" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">Xem thêm ...</a>
          </p>
      </div>
      <div class="col-sm-12">
          <hr />
          <div class="entry-header has-post-format">
              <h4 itemprop="name">
                  <a style="color:forestgreen" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">HÀ NỘI - LONG BIÊN: TUYỂN DỤNG CHUYÊN VIÊN KINH DOANH</a>
                  <a class="label label-default"> 4 Tháng trước</a>
              </h4>
          </div>
          <h5>HÀ NỘI - LONG BIÊN: TUYỂN DỤNG CHUYÊN VIÊN KINH DOANH</h5>
          <p class="readmore">
              <a class="btn btn-success" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">Xem thêm ...</a>
          </p>
      </div>
      <div class="col-sm-12">
          <hr />
          <div class="entry-header has-post-format">
              <h4 itemprop="name">
                  <a style="color:forestgreen" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">HÀ NỘI - LONG BIÊN: TUYỂN DỤNG CHUYÊN VIÊN KINH DOANH</a>
                  <a class="label label-default"> 4 Tháng trước</a>
              </h4>
          </div>
          <h5>HÀ NỘI - LONG BIÊN: TUYỂN DỤNG CHUYÊN VIÊN KINH DOANH</h5>
          <p class="readmore">
              <a class="btn btn-success" href="http://freshfoods.vn/ha-noi-long-bien--freshfoods-tuyen-dung-chuyen-vien-kinh-doanh.html" itemprop="url">Xem thêm ...</a>
          </p>
      </div>
