
@{
    ViewBag.Title = "HinhThuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .img{
        height:150px;
        background-color:white;
    }
    .input{
        margin-top:30px;
        margin-left:25px;
    }
    .input1 {
        margin-top: 10px;
        margin-left: 70px;
    }
</style>
<h1>Chọn hình thức thanh toán</h1>
<br />
<div class="row">
    @*<form method="post" action="/Carts/Visa" class="col-md-4">

        <div>
            <img class="img" for="momo" src="~/IMG/Payments/momo.png" />
        </div>

        <input type="submit" value="Thanh toán" class="btn btn-success input" />
    </form>
    <br />*@
    <div class="col-md-4">
        <img class="img" for="visa" src="~/IMG/Payments/visa.svg" /><br />
        <a href="~/Carts/Visa" class="btn btn-success input1">Thanh toán</a>
    </div>
</div>



<style>
    .img_cart {
        width: 100px;
        padding-bottom: 10px;
    }

    .check_cart {
        width: 40px;
    }
</style>

